.form{
    padding: 10px 130px 10px 15px;
    border-radius: 50px;
}
.from-no{
    padding: 10px 450px 10px 20px;
    border-radius: 50px;
}
.form-msg{
    padding: 10px 450px 50px 20px;
    border-radius: 20px;
}